
#indexbody, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #ff9a9e, #fad0c4, #fbc2eb, #a1c4fd);
    background-size: 500% 500%;
    animation: backgroundAnimation 6s infinite alternate;
  }
  @keyframes backgroundAnimation {
    25% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 100%;
    }
    75% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes flushEffect {
    0% {
      filter: brightness(5);
    }
    50% {
      filter: brightness(10);
    }
    100% {
      filter: brightness(3);
    }
  }
  .flush {
    animation: flushEffect 0.9s;
  }
  .bubble-login {
    width: 90%;
    max-width: 350px;
    padding: 2rem;
    background: rgba(255, 255, 254, 0.8);
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(3, 3, 3, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
  }
  .bubble-login h1 {
    font-size: 28px;
    margin-bottom: 2rem;
    color: rgb(255, 3, 205);
    text-shadow: 2px 2px 2px rgb(178, 178, 239);
  }
  .bubble-login input {
    width: 80%;
    padding: 12px;
    margin: 0.5rem 0;
    border: 2px solid rgb(14, 14, 15);
    border-radius: 20px;
    font-size: 16px;
    background-color: rgb(232, 220, 220);
    color: #333;
    outline: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  }
  .bubble-login input::placeholder {
    color: gray;
  }
  .bubble-login input:focus {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(143, 188, 143, 0.5);
  }
  .bubble-login button {
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(135deg, rgb(61, 179, 215), lightsteelblue);
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(2, 2, 2, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    width: 100px;
  }
  .bubble-login button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(72, 61, 139, 0.5);
  }
  @media (max-width: 600px) {
    .bubble-login {
      width: 90%;
      padding: 1.5rem;
    }
    .bubble-login input {
      width: 90%;
    }
  }
